body{
    margin: 0;
}
div.profilee{
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
}
span{
   background-image: linear-gradient(#fff,#ff0 );
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent; 
    color: #fff;
}
.show{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    margin: 0 auto;
    color: #fff;
    background-image: linear-gradient(to right,#ff3344,#3344ff,#6a73de);
    font-size: large;
    padding: 20px;
    border-radius: 30px;
}
section{
    display: none;
}
.hide{
    display: none;
}
img{
    width: 7em;
}
h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-image: linear-gradient(to right,#ff3344,#3344ff,#6a73de);
    /* background-size: 100%; */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
div.wrap{
    display: grid;
    grid-template-columns: 1fr;
    width: 30%;
    margin:0 auto;
}
div.wrap input{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #000;
    outline: none;
    /* background-image: linear-gradient(45deg,#6a73de,#3344ff,#ff3344 ); */

}
div.wrap button{
    padding: 10px;
    background-image: linear-gradient(45deg,#6a73de,#3344ff,#ff3344 );
    border: 0;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}
@media (max-width:400px){
    .show{
        font-family: 'komika axis';
        display: grid;
        grid-template-columns: 1fr;
        width: 90%;
        margin: 0 0;
        color: #fff;
        background-image: linear-gradient(to right,#ff3344,#3344ff,#6a73de);
        font-size: large;
        padding: 20px;
        border-radius: 30px;
    }
    section{
        display: none;
    }
    div.wrap{
        width: 60%;
    }
    /* h1{
        font-size: 1.5em;
        width: 10em;
        /* text-align: left; 
    } */
}
